<!--HtmlViewer:On-->
<!DOCTYPE html>
<html>
<head>
    <title></title>
	<meta charset="utf-8" />
	<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.1.10/vue.js"></script>
    <script src="VueInterval.js" type="text/javascript"></script>
    <link rel="stylesheet" href="Demo.css" />
</head>
<body>
<h1>Vue-interval Demo</h1>
<div id="app">
    <p>Current Iso-Time {{dateNow | iso}}</p>
    <p>Time since Element creation: {{createTime | hhmmssFilter}}</p>
    <p>Secounds since Element creation {{livingSecounds}}</p>
    <p>Ticker: {{ticker}}</p>
    <p>Time till Newyear: {{midnight | hhmmssFilter}}</p>
    <p>Not reactive input -> <input type="text" id="actMe" value="Change me and see..." /> could stand anywhere in the DOM</p>
    <p>The value of the non reactive input is: <span class="yellow">{{nonreactive}}</span></p>
    <div class="box dashy">
        <span>Binary changes <input type="checkbox" v-model="binaryRun" /> </span>
        <div v-bind:class="{'rot':ticker%(1+binaryRun),'yellow':livingSecounds%2}" class="cent border">{{livingSecounds%2}}</div>
        <div v-turning="binaryRun" class="cent round border">^</div>
        <div><button v-bind:disabled="!!(ticker%(1+binaryRun))" >On</button><button v-bind:disabled="!(ticker%(1+binaryRun))">Off</button></div>
    </div>
    <div class="box dashy">
        <span><button v-on:click="addTask">+Task</button></span>
        <span v-for="t in tasks" class="border"><button v-on:click="suspendTask(t)">||</button><button v-on:click="suspendTask(t)">></button><button v-on:click="deleteTask(t)">X</button>{{(t.end ) | hhmmssFilter}}</span>
    </div>
</div>
    <script src="Demo.js" type="text/javascript"></script>
</body>
</html>
